{% load bootstrap4 %}
<!-- Footer -->
<footer class="page-footer font-small pt-4" style="background-color: #535250;color: white;font-family:Arial, Helvetica, sans-serif">

    <!-- Footer Text -->
    <div class="container">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <small class="text-uppercase "><strong> Neighborhood watch app</strong>:  stay updated with the latest happenings in your neighborhood </small>
          <h5 class="font-weight-bold"><strong> Support</strong>:</h5>
          <h6 ><strong>Email</strong>: msyokimutua@gmail.com<h6>
          <h6><strong> Tel</strong>: 0100-100-01</h6>

          <h6 class="font-weight-bold"><strong>Address</strong>: Nyumbani- Area</h6>